<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body onclick="tryEnterFullscreenIfNeeded()">
<!-- navbar -->
<div class="py-2 px-6 bg-[#f8f4f3] flex items-center shadow-md shadow-black/5 sticky top-0 w-full left-0 z-30">
    <ul class="flex items-center w-full">
        <li>
            <button type="button" class="text-lg text-gray-900 font-semibold sidebar-toggle">
                <i class="ri-menu-line"></i>
            </button>
        </li>
        <li class="dropdown m-auto">
            <button type="button" class="dropdown-toggle flex items-center">
                <div class="flex-shrink-0 w-10 h-10 relative">
                    <div class="p-1 bg-white rounded-lg focus:outline-none focus:ring">
                        <img class="w-8 h-8 rounded-lg" th:src="@{/images/logoFinal.png}" alt="Logo del sistema DIA"/>
                        <div class="top-0 left-7 absolute w-3 h-3 bg-green-400 border-2 border-white rounded-full animate-ping"></div>
                        <div class="top-0 left-7 absolute w-3 h-3 bg-green-500 border-2 border-white rounded-full"></div>
                    </div>
                </div>
                <div class="p-2 md:block text-left">
                    <h2 class="text-sm text-center font-semibold text-gray-800">DIA</h2>
                    <p class="text-xs text-gray-500">Sistema - Marcha Blanca</p>
                </div>
            </button>
        </li>
        <li>
        <button id="fullscreen-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="hover:bg-gray-100 rounded-full" viewBox="0 0 24 24"><path d="M5 5h5V3H3v7h2zm5 14H5v-5H3v7h7zm11-5h-2v5h-5v2h7zm-2-4h2V3h-7v2h5z"></path></svg>
        </button>
        </li>
        <script>
            const fullscreenButton = document.getElementById('fullscreen-button');

            fullscreenButton.addEventListener('click', () => {
                if (document.fullscreenElement) {
                    // Si ya está en pantalla completa, salir
                    document.exitFullscreen();
                    localStorage.removeItem('fullscreen');
                } else {
                    // Entrar en pantalla completa
                    document.documentElement.requestFullscreen().then(() => {
                        localStorage.setItem('fullscreen', 'true');
                    });
                }
            });

            function tryEnterFullscreenIfNeeded() {
                if (localStorage.getItem('fullscreen') === 'true' && !document.fullscreenElement) {
                    document.documentElement.requestFullscreen();
                }
            }

            // Limpiar preferencia si se sale del fullscreen manualmente
            document.addEventListener('fullscreenchange', () => {
                if (!document.fullscreenElement) {
                    localStorage.removeItem('fullscreen');
                }
            });
        </script>
    </ul>
</div>
<!-- end navbar -->
</body>
</html>